body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background: #f2f2f2;
  justify-items: center;
  align-items: center;
}
